<div class="fullscreen-image">
  <h1 class="landing-h1">War Records</h1>
  <p class="landing-p"></p>
</div>



<!-- <div id="landing-content" class="hero-full-container background-image-container white-text-container" style="background-image: url('./assets/images/space.jpg')">
    <div class="content container">
      <div class="row">
        <div class="col-xs-4">
          <div class="">
            <img class="landingimg" src="" alt="">
          </div>
        </div>
          <div class="col-xs-4">
            <div class="">
              <img class="landingimg" src="" alt="">
              <img class="logolanding" src="" alt="">
            </div>
          </div>
          <div class="col-xs-4">
            <div class="">
              <img class="landingimg" src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1301&q=80");
      }
    </style> -->

    <style>
      * {
  margin: 0;
  padding: 0;
}

.fullscreen-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1301&q=80");
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  background: transparent;
}
    </style>